*{
    padding:0px;
    margin:0px
}
/* navegador*/
.menu{
    text-align: right;
    list-style: none;
    padding: 0;
    background: #092327;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    font-size: 20px;
}
.logo{
    width: 100px;
    height: 70px;
}
ul, ol{
    list-style: none;
}
.menu > li {
    display: inline-block;
    text-align: center;
}
/* cuando uno pune el click encima*/
.menu li a:hover{
    background-color: blue;
}
.menu li a{
    text-decoration: none;
    color: white;
    background-color: #092327;
    padding: 25px;
    display:block;
}
.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.menu li:hover >ul{
    display:block;
}
