*{
    padding:0px;
    margin:0px
}
body{
    background-color: #24151b;
}

/* navegador*/
.menu{
    text-align: right;
    list-style: none;
    padding: 0;
    background: #24151b;
    width: 100%;
    height:100px;
    margin: auto;
    font-size: 20px;
}
.logo{
    width: 150px;
    height: 100px;
    position:absolute;
    left: 2%;
}
ul, ol{
    list-style: none;
}
.menu > li {
    display: inline-block;
    text-align: center;
}
/* cuando uno pune el click encima*/
.menu li a:hover{
    background-color:#5f1a37;
}
/*barra de menu*/
.menu li a{
    text-decoration: none;
    color: white;
    background-color: #24151bde;
    padding: 38.5px;
    display:block;
}
/*menu desplegable*/
.menu li ul{
    display: none;
    position:absolute;
    min-width: 157px;
}
.menu li:hover >ul{
    display:block;
    z-index:1;
}
.title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
/*header*/
.header{
    width:100%;
    height:600px;
    background: #0086ad;
    background:url(https://media.discordapp.net/attachments/925595850531557427/961693286840549376/Kunlun_2700x.webp?width=1980&height=720);
    background-size:auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.header h1{
    display:flex;
    height: 430px;
    width:100%;                  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#ffffffe5;
    font-size:60px;
}
.wave{
    
    position:absolute;
    bottom: -1px;
    width:100%;
}
.div-video{
    background-color: #24151b;
    text-align: center;
    
}
/* Formulario de contacto */
.form-register{
    text-align: center;
    font-size: 15px;
    padding: 40px;
    background-color: #24151b;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.controls{
    width: 50%;
    background: #293038;
    padding:10px;
    border-radius: 10px;
    margin-bottom:16px;
    border: 1px solid #5f1a37;
    font-family:'calibri';
    font-size: 18px;
    resize: none;
}
.select{
    width: 50%;
    background: #293038;
    padding:10px;
    border-radius: 10px;
    margin-bottom:16px;
    border: 1px solid #5f1a37;
    font-family:'calibri';
    font-size: 18px;
}

.botons{
    width: 50%;
    background: #5f1a37;
    border:none;
    padding: 12px;
    color:white;
    margin:16px 0;
    font-size:16px;
    border-radius: 4px;
}
.form-register .botons:hover{
    background: #293038 ;
}
/*pie de pagina*/
footer{
    background-color: #24151b;
}
.div-footer{
    width: 50%;
    background-color: #5f1a37;
}
.div-footer p{
    padding: 12px;
}

.grupo-1{
    display: flex;
}
.grupo-2{
    margin-top: 20px;
    text-align: center;
    background-color: #5f1a37;
}
.texto-mapa{ /*no es posible colocarlo encima del mapa*/
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.red-social{
    padding: 1%;
}
.red-social .facebook img{
    width: 60px;
    height: 60px;
}
.red-social .instagram img{
    width: 60px;
    height: 60px;
}
.red-social .twitter img{
    width: 60px;
    height: 60px;
}
.red-social .youtube img{
    width: 60px;
    height: 60px;
}
/*barra*/
.barra{
    font-family: 'Lato', sans-serif;
    /**Alto y ancho de donde se va a activar cuando pase el mouse**/
    width:50px;
    height:50px;
    /*Para que este siempre en la misma parte de la pantalla aunque se haga scroll*/
    position:fixed;
    /*Tiempo en el que va a transitar la animacion*/
    transition: .4s all ;
    /*este arriba de todo en la pantalla*/
    z-index: 1;  
}

.barra ul{
    /*solucionar espacios no deseados*/
    padding:0px;
    text-align: center;
        
}
.barra  li{
    /*Velocidad de transicion del contenido*/
    transition:all .3s;
    list-style: none; 
}

.barra a{
    text-decoration: none;
    
    font-weight: normal;
    
    /*La letra crece con el menu de esta manera no se va a ver como se ajusta al margen mientras crece*/
    transition: .3s all ;
    /*Se ocultan los elementos*/
    font-size: 0px;
    padding:0px;
}

.barra  h2{
    text-align: center;
    color:white;
    padding:7px;
    padding-bottom:7px;

    /*Se oculta el h2*/
    font-size:0px;   
}

.barra img{
    padding-top: 30px;
    padding-left: 10px;
    width: 50px;

}

.barra:hover{
    /*Tamaño cuando el cursor señale la barra*/
    width: 20%;
    height: 100vh;
    
    /*Color*/
    background: #5f1a37;
}
.barra:hover h2{
    /*posicion dentro de barra del h2*/
    padding:15px;
    font-size: 35px;
}
.barra:hover a{ 
    font-size:20px ;
    color:white;
    /*Se usa el display block para que el enlace respete el margin*/
    display: block;
    padding:20px;
}
.barra:hover img{
    /*Desaparecer la imagen*/
    height:0px;
}


.barra:hover li{
    border-top:1px solid #03121b;
    /*Espacios entre las lineas y el contenido*/
    
    width:100%;
        
}
.barra:hover ul:last-of-type{


    border-bottom: 1px solid #03121b;
}

.barra:hover a:hover{ 
    font-size: 25px;
    padding: 30px 0px; 
    background: #24151b;  
}